<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        <style>
            .center{
                text-align: center;
            }

            table{
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -40%);
            }
        </style>
    </head>
    <body>
    
    <% if(messages.success){ %>
    <%= messages.success %>
    <% } %>
    <% if(messages.error){ %>
        <%= messages.error %>
        <% } %> 
<table border='1'>
 <tr>
    <th>ID</th>
     <th>NAME</th>
     <th>CITY</th>
     <th>STATE</th>
     <th>CLEANLINESS</th>
     <th>RANKING</th>
     <th>TRAFFIC</th>
     <th>NUMBER OF AIRLINES</th>
     <th>IMAGE</th>
     <th>RECOMMENDATION</th>
     <th>SERVICE</th>
     <th>TAXI</th>
     <th>FOODCHAINS</th>
    
 </tr>
 <% airportlist.forEach(function(airportindex){ %>
 <tr>
    <td><%= airportindex.id %></td>
        <td><%= airportindex.name %></td>
        <td><%= airportindex.city %></td>
        <td><%= airportindex.state %></td>
        <td class="center"><%= airportindex.cleanliness %></td>
        <td class="center"><%= airportindex.ranking %></td>
        <td class="center"><%= airportindex.traffic %></td>
        <td class="center"><%= airportindex.airlines %></td>
        <td><img height="200" width="250" src="<%= airportindex.image %>" /></td>
        <td><pre><%= airportindex.recommendation %></pre></td>
        <td class="center"><%= airportindex.service %></td>
        <td><pre><%= airportindex.taxi %></pre></td>
        <td><pre><%= airportindex.foodchains %></pre></td>

       
        
 
     

 </tr>

<% }) %>



</table>
</body>
</html>